* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* styles for the main section */
.mainSection {
	text-align: center;
}
.title {
	font-family: "Courier New", Courier, monospace;
	color: white;
	margin-top: 2em;
}

/* main container to display all users */
.mainContainer ul {
	margin-top: 5%;
	display: flex;
	align-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}

/* user profile container */
.userContainer {
	min-width: 15em;
	list-style: none;
	flex: 1 1 150px;
	align-items: center;
	margin: 1.3em;
	padding: 1em;
	background-color: rgb(185, 185, 113);
	border-radius: 1em;
	box-shadow: rgba(0, 0, 0, 0.35) 1.95px 1.95px 2.6px;
}
.userContainer:hover {
	box-shadow: rgba(0, 0, 0, 0.60) 1.95px 1.95px 2.6px;
}

/* Styles for the card inside profile container as well as userDetails */
.userCard {
	display: flex;
	flex-direction: column;
}
.userCard a {
	color: rgb(42, 23, 122);
	font-size: 1.1rem;
	font-weight: 800;
	text-decoration: none;
}

/* styles for profile contents e.g profile image, username etc */
.profileContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.profileContent img {
	max-width: 3em;
	border-radius: 50%;
}

.userLogin {
	font-family: "Courier New", Courier, monospace;
	margin-top: 0.5em;
	text-transform: capitalize;
}

/* Form styles e.g input field */
.userInput input {
	border-radius: 5em;
	background-color: rgb(185, 185, 113);
	color: rgb(10, 8, 41);
	font-size: 0.9em;
	font-family: "Courier New", Courier, monospace;
	font-weight: 600;
	cursor: pointer;
	padding: 0.6em;
	width: 30%;
	margin-top: 2%;
}
.userInput input[type="text"]:focus {
	background-color: rgb(248, 248, 245);
	outline: none;
}

/* styles for user details */
.userDetails {
	color: rgb(28, 9, 61);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4rem;
	margin-top: 1.5em;
	text-align: left;
	font-family: "Courier New", Courier, monospace;
	word-break: break-all;
}
.infoTitle {
	color: rgb(42, 23, 122);
	font-size: 1rem;
	font-weight: 400;
}
